<% provide(:title, 'Messages') %>

<div class="hero-unit">
  <h2 align="center"><%= yield(:title) %></h2>
  <div class="row">
    <div class="span9 offset1">

        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= render @pins %>
          </tbody>
        </table>
        <center>
            <%= will_paginate @pins %>
        </center>
    </div>
  </div>
</div>
<center>
  <%= link_to 'Add Message', new_pin_path, class: "btn btn-large" %><br>
</center>