<% provide(:title, 'Home') %>

<center>
	<div class="hero-unit">
		<h1>John For Carlos</h1><hr>
		<img src="http://s3.amazonaws.com/viadeca/receipts/images/000/000/002/original/mom_and_dad.jpg?1383153386" width="400" style="border: 10px solid #000000" />

		<p>
			Celebrating the life of John Williams Iason
		</p>
		<%= link_to "Make A Donation", new_charge_path, class: "btn btn-primary btn-large" %>
	</div>
</center>