<% provide(:title, 'Home') %>


	<div class="hero-unit">
		<center>
		<h1>John For Carlos</h1><hr>
		</center>
		<div class="row">
			<div class="span4">
				<center>
					<img src="http://s3.amazonaws.com/viadeca/receipts/images/000/000/002/original/mom_and_dad.jpg?1383153386" width="400" style="border: 0px solid #000000" />
					<hr>
					<%= link_to "Make A Donation", '#', class: "btn btn-primary btn-large" %>

					<%= link_to "Leave A Messages", messages_path, class: "btn btn-primary btn-large" %>
				</center>
			</div>
			<div class="span6">
				<p>
					John Williams Iason, beloved husband to Valorie, cherished father to Scott and Liz, adored father-in-law to Ali and Teo, and the sweetest pops to Drew and Kate passed away on Monday, October 28, 2013 surrounded by the love from Valorie, Scott and Liz. He will be greatly missed and forever a part of all of our lives. John had a great love for children and for the past two years has mentored a little boy named Carlos (now 9 years old) through the Chatham County Together program whose mission is to mentor and guide children and youth to help them reach their full potential and become healthy, positive members of their communities.
				</p>
				<p>

					Beyond tutoring, John and Carlos also played tennis, went swimming, golfed, enjoyed movies, went trick or treating together and shared many meals together - always with an ice cream dessert. When seen together it was clear how meaningful their time together was for both of them.
				</p>
				<p>
					We have all been so touched by the support from our family and friends and ask that in lieu of flowers and gifts, that you donate to Carlos’ educational fund.
				</p>
				<p>
					Thank you very much,
				</p>
				<p>
					The Iasons
				</p>
			</div>
		</div>
		<center>
</center>
	</div>