@import url(http://fonts.googleapis.com/css?family=Metrophobic);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Paytone+One);
$baseFontFamily: Josefin Sans;

/* Text elements */
$bodyBackground: black;
$navbarBackground: black;
$navbarBackgroundHighlight: black;
$baseBGcolor: #010131;
$btnInfoBackground: #83AEC4; 

@import 'bootstrap';
body{
    padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

.brand {
    font-family: Paytone One;
}