<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><%= link_to 'John For Carlos',  root_path, class: "brand" %></li>
                        <li><%= link_to 'Donations',  '#' %></li>
                        <li><%= link_to 'Messages',  messages_path %></li>
                    </ul>
                    <!--
                    <ul class="pull-right">
                        <li><%= link_to 'Admin',  new_user_session_path, class: "brand" %></li>
                    </ul>
                    -->
                </div>
        </div>
    </div>
</div>